@import "parciales/colors";
@import "parciales/extends";
@import "parciales/nav";
@import "parciales/main";
@import "parciales/footer";





// medias
@import "parciales/768px";
@import "parciales/1024px"
