@media screen and (min-width: 1360px){
    #nav-button{
        padding: 10px 15px;
    }

    #main-3::before{
        background-size: 35% !important;
        left: 200px !important;
        top: 50px !important;
    }
    
}